body, html{
  height:100%;
  margin:0;
  padding: 0;
  font-family:"Lato", sans-serif;
  box-sizing: border-box;
}
.pimg1 .mainheader img{
  width: 300px;
  position: absolute;
  z-index: 10;
  margin-left: 35px;
  margin-top: -100px;
}
.mainheader nav{
  background-image: linear-gradient(to right,#db1bf6, #19d7f9);
  height: 130px;
  position: relative;
}
.mainheader nav .nav-title{
  width: 70%;
  position: absolute;
  margin: 0;
  color: #000;
  top: 50%;
  left: 90%;
  transform: translate(-50%,-50%);
} 
.mainheader a:link, .mainheader a:visited{
  color: white;
  padding: 10px 40px;
  display: inline-block;
  height: 20px;
}
.mainheader a:hover, .mainheader a:active{
  color: white;
  background-color: deepskyblue;
  text-shadow: none;
  border-radius: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  transition: 0.5s ease;
}
/*  team section  */

.team-content{
    overflow: hidden;
}
.team-item{
    width: 25%;
    float: left;
    background: linear-gradient(235deg,#448cf8,#00bcd4,#eb7dfa);
    padding: 40px 20px;
    text-align: center;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-item .team-img img{
    width: 100%;
}
.team-info .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-info .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tp-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: #fff;
}
.team-item:hover .team-info-text{
    color: #19d7f9;
}
.tp-effect{
  position: relative;
}
.tp-effect:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right,#eb7dfa, #19d7f9);
  z-index: -1;
  transition: height 0.5s;
}
.tp-effect:hover:after{
  height: 100%;
} 
.container{
  width: 80%;
  margin: auto;
}
.pd-y{
  padding: 100px 0;
}
.section-header{
  text-align: center;
  margin-bottom: 20px;
}
.section-header .section-title{
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.section-header .line{
  display: block;
  height: 5px;
  width: 60px;
  margin: 0 auto 70px auto;
  background: linear-gradient(to right,#eb7dfa, #19d7f9);
 }
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.85;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}
.pimg1{
  background-image:url('../img/image3.jpg');
  min-height:100%;
}
.pimg2{
  background-image:url('../img/IMG-20191107-WA0068.jpg');
  min-height:400px;
}
.pimg3{
  background-image:url('../img/IMG-20191107-WA0029.jpg');
  min-height:400px;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}


/* flib*/
.middle{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 300px;
  height: 150px;
  margin-top: 270px;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.card .front .der{
    width: 100%;
    height: 100%;
    position: center;
}
.back{
  background: #2c3e50;
  
  transform: perspective(600px) rotateY(180deg);
}
.card .back  .rer{
  width: 100%;
  height: 100%;
  
  position: center;
}

.card:hover > .front{

transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
@media (min-width:356px) and (max-width:540px){
  body{
   width: 100%;
  }
  .pimg1 .mainheader img{
    width: 170px;
    position: absolute;
    z-index: 10;
    top: 115px;
  }
  .mainheader nav{
    background-image: linear-gradient(to right,#db1bf6, #19d7f9);
    height: 70px;
    position: relative;
  }
  .mainheader nav .nav-title{
    width: 30%;
    position: absolute;
    margin: 0;
    color: #fff;
    top: 55%;
    left: 80%;
    font-size: 1rem;
    
  } 
  .team-content{
    overflow: hidden;
  }
  .team-item{
    width: 100px;
    height: 100px;
    float: left;
    padding: 8px 3px;
    
  }
  .team-item .mg{
     margin: 0 5%;
  }
  .team-info .team-info-title{
     font-size: 10px;
  }
  .team-info .team-info-text{
    color: rgb(65, 54, 54);
    font-size: 10px;
  }
  .container{
    width: 100%;
    margin: auto 30px;
  }
  .pd-y{
    padding: 50px 0;
    
    margin-left: 37px;
  }
  .section-header{
    
    margin-bottom: -30px;
  }
  .section-header .section-title{
  
    margin-left: -37px;
  }
  .section-header .line{
    margin-left: 160px;
    width: 100px;
  }
  .pimg1{
    min-height:70%;
  }
  .pimg2{
    min-height:300px;
  }
  .pimg3{
    min-height:300px;
  }
  .ptext{
    font-size:16px;
    letter-spacing:6px;
  }
  .card{
    width: 250px;
    height: 130px;
    margin-top: 210px;
  }
  
  }
