body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  list-style: none;
  box-sizing: border-box;
}
.pimg1 .mainheader img{
  width: 200px;
  position: absolute;
  z-index: 10;
  
  margin-left: 35px;
  margin-top: -90px;
}
.mainheader nav{
    
  background-image: linear-gradient(to right,#db1bf6, #19d7f9);
  height: 130px;
  position: relative;
}
.mainheader nav .nav-title{
  width: 70%;
  position: absolute;
  margin: 0;
  color: #000;
  top: 50%;
  left: 90%;
  transform: translate(-50%,-50%);
} 
.pimg1 .mainheader .cool{
  width: 250px;
  height: 100px;
  top: 105px;
}
.mainheader a:link, .mainheader a:visited{
  color: white;
  padding: 10px 40px;
  display: inline-block;
  height: 20px;
}
.mainheader a:hover, .mainheader a:active{
  color: white;
  background-color: deepskyblue;
  text-shadow: none;
  border-radius: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  transition: 0.5s ease;
}
/*  team section  */
.team{

}
.team-content{
    overflow: hidden;
}
.team-item{
    width: 26%;
    float: left;
    background: linear-gradient(235deg,#448cf8,#00bcd4,#eb7dfa);
    padding: 40px 20px;
    text-align: center;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-item .team-img img{
    width: 100%;
}
.team-info .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-info .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tp-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: #fff;
}
.team-item:hover .team-info-text{
    color: #19d7f9;
}
.tp-effect{
  position: relative;
}
.tp-effect:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right,#eb7dfa, #19d7f9);
  z-index: -1;
  transition: height 0.5s;
}
.tp-effect:hover:after{
  height: 100%;
} 
.container{
  width: 80%;
  margin: auto;
}
.pd-y{
  padding: 100px 0;
}
.section-header{
  text-align: center;
  margin-bottom: 20px;
}
.section-header .section-title{
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.section-header .line{
  display: block;
  height: 5px;
  width: 60px;
  margin: 0 auto 70px auto;
  background: linear-gradient(to right,#eb7dfa, #19d7f9);
 
}
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.85;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image3.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/IMG-20191107-WA0068.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/IMG-20191107-WA0029.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}
/* flib*/
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 300px;
  height: 150px;
  margin-top: 270px;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.card .front .der{
    width: 100%;
    height: 100%;
    position: center;
}
.back{
  background: #2c3e50;
  transform: perspective(600px) rotateY(180deg);
}
.card .back  .rer{
  width: 100%;
  height: 100%;
  position: center;
}
.back-content{
  color: #fff;
  text-align: center;
  font-size: 10px;
  display: inline;
}
.back-content h2{
   line-height: 3px;
}
.back-content span{
  line-height: 3px;
  margin-top: -10px;
  color: orange;
}
.card:hover > .front{
transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
.sm img{
  display: inline-flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 50%;
}
.sm img:hover{
  background: #2c3e50;
  color: white;
}
.back .sm img{
  color: white;
}
@media(max-width:356px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .mainheader{
    visibility: hidden;
  }
  .mainheader .cool{
    visibility: visible;
  }
   width: 80%;
    position:absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%,-50%);
  }
 .team-info,.team-item{
  width: 100%;
  display: block;
}
.team-item{
  margin-left: 13px;
}
.ptext{
  width: 106%;
  height: 200px;
}
.border{
  font-size: 6px;
  text-align: center;
}
}

@media(max-width:1250px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .mainheader{
    visibility: hidden;
  }
  .mainheader .cool{
    visibility: visible;
  }
  .card{
    margin-left: 10px;
  }
 .team-info,.team-item,.team-img{
  width: 100%;
  display: block;
 }
.team-item{
  margin-left: 13px;
}
.ptext{
  width: 100%;
  height: 200px;
}
.border{
  font-size: 6px;
  text-align: center;
}
}


